{{ use('yii/widgets/DetailView') }}

{# @var yii\web\View $this #}
{# @var app\models\IpInfo $model #}

{{ set(this, 'title', model.ip) }}

{% set params = this.params|merge({'breadcrumbs' : [
    {'label' : IP_LIST_STR, 'url' : ['index']},
    this.title
]}) %}

{{ set(this, 'params', params) }}

{{ register_asset_bundle('yii/web/YiiAsset') }}  

<div class="ip-info-view">

    <h1>{{ html.encode(this.title) }}</h1>

    <p>
        {{ html.a(UPDATE_BTN_STR, {0 : 'update', 'ip' : model.ip}, {'class' : 'btn btn-primary'}) | raw }}
        {{ html.a(DEL_BTN_STR, {0 : 'delete', 'ip' : model.ip}, {
            'class' : 'btn btn-danger',
            'data' : {
                'confirm' : t('yii', 'Are you sure you want to delete this item?'),
                'method' : 'post',
            },
        }) | raw}}
    </p>

    {{ detail_view_widget({
        'model' : model,
        'attributes' : [
            'ip',
            'country',
            'region',
            'city',
        ],
    }) | raw }}

</div>
